<!DOCTYPE html>
{% load static %}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{% block title%} base.html 的title{% endblock %}</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" sizes="192x192" />
    <link rel="bookmark" href="/static/favicon.ico" type="image/x-icon" />
    {% block css %}                 {# block 是块代码 #}
        <!--base.html的css-->
        <link rel="stylesheet" href="/static/layui/css/layui.css" type="text/css" />
        <style>
        .head-nav{
            list-style: none;
            float: left;
        }
        </style>
    <link rel="stylesheet" href="/static/css/core.css" type="text/css" />
    {% endblock %}
    {% block headjs %}
    {% endblock %}
</head>
<body class="layui-layout-body">
{% block content %}
{% endblock %}
{% block footjs %}
{% endblock %}
</body>
</html>