{% extends 'iframebase.html' %}
{% block css %}                 {# block 是块代码 #}
    <!--base.html的css-->
    {{ block.super }}
    <link rel="stylesheet" href="/static/layui/css/layui.css" type="text/css" />
{% endblock %}
{% block body %}
        <form class="layui-form" action="/updatemember/{{ member }}" method="post" id="updateMemberForm">
            {% csrf_token %}
            <div class="layui-form-item">
                <label class="layui-form-label">{{ form.name.label }}</label>
                <div class="layui-input-block">
                    {{ form.name }}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{{ form.phone.label }}</label>
                <div class="layui-input-block">
                    {{ form.phone }}
                </div>
            </div>
            <div class="layui-form-item" style="display: none;">
                <label class="layui-form-label">{{ form.departid.label }}</label>
                <div class="layui-input-block">
                    {{ form.departid }}
                </div>
            </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{{ form.comment.label }}</label>
                <div class="layui-input-block">
                    {{ form.comment }}
                </div>
            </div>
        </form>
{% endblock %}